
<ul *ngIf="paginas?.length>0" class="pagination"> <!--style="overflow: scroll;"-->

    <li class="page-item" *ngIf="paginator.number > 0">
        <a class="page-link" [routerLink]="['/clientes/page', paginator.number-1]">&laquo;</a>
    </li>

    <li class="page-item" [ngClass]="paginator.first?'disabled':''" >
        <a class="page-link" [routerLink]="['/clientes/page', 0]">Primera</a>
    </li>

    <li *ngFor="let pag of paginas" class="page-item" [ngClass]="pag-1 == paginator.number?'active':''">
        <span *ngIf="pag-1 == paginator.number" class="page-link">{{pag}}</span>
        <a *ngIf="pag-1 != paginator.number" [routerLink]="['/clientes/page', pag-1]" class="page-link">{{pag}}</a>
    </li>

    <li class="page-item" *ngIf="paginator.number < paginator.totalPages-1">
        <a class="page-link" [routerLink]="['/clientes/page', paginator.number+1]">&raquo;</a>
    </li>

    <li class="page-item" [ngClass]="paginator.last?'disabled':''" >
        <a class="page-link" [routerLink]="['/clientes/page', paginator.totalPages-1]">Última</a>
    </li>
 
</ul>
